<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
        <h2>Table Wenp</h2>
        <table">
          <thead class="thead-dark">
            <tr>
                <th>Rol </th>
                <th>RolUsuario</th>
                <th>Usuarios</th>
                <th>Instituciones</th>
                <th>UsuariosIntuciones</th>
                <th>Grupos</th>
                <th>Materias</th>
                <th>Actividades</th>
                <th>Notas</th>
                <th><button type="button" class="btn btn-outline-success">Agreagar</button></th>
                <th></th>
            </tr>
          </thead>
</body>
</html>